<html>

<head>
    <title>Bookmarks - Minhas URLs
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css" media="screen">
    </style>
</head>

<body>
    <div class="custom-container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand">
                <i class="fas fa-atlas"></i>
                <H2 class="my-3 mx-4 text-white">My Bookmarks</H2>
            </a>
           
        </nav>

        <div class="container w-75 my-4 bg-light">
            <div class="row">
                <div class="col-10">
                    <h3 class="m-3">
                        Bem-vindo {{.username}}
                    </h3>
                </div>
                <div class="col-2">
                    <form action="/create-bookmark" method="GET">
                        <input hidden name="_csrf" value="{{.token}}"/>

                        <button type="submit" class="btn btn-outline-info m-3">Nova URL</button>
                    </form>
                </div>
            </div>

            {{if .message}}
            <div class="row">
                <div class="alert alert-warning mx-3" role="alert">
                    {{.message}}
                </div>
            </div>
            {{end}}

            <div class="list-group">
                {{range .bookmarks}}
                <div class="list-group-item my-3">
                    <h4>{{.URL}}</h4>
                    <small>{{.Comment}}</small>
                    <form action="/delete-bookmark/{{.ID}}" method="POST">
                        <input hidden name="_csrf" value="{{$.token}}"/>
                        <button type="submit" class="btn btn-outline-danger btn-sm float-right">Excluir</button>
                    </form>
                </div>
                {{end}}
            </div>


        </div>


    </div>

</body>

</html>