<html>

<head>
    <title>Bookmats - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css" media="screen">
    </style>
</head>

<body>
    <div class="custom-container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand">
                <i class="fas fa-atlas"></i>
                <H2 class="my-3 mx-4 text-white">My Bookmarks</H2>
            </a>
        </nav>

        <div class="container w-50 my-4 bg-light">
            <div class="row">
                <div class="col-10">
                    <h3 class="m-3">
                        Nova URL
                    </h3>
                </div>
                <div class="col-2">
                    <form action="bookmarks" method="GET">
                        <button type="submit" class="btn btn-outline-danger m-3">
                            Cancelar
                        </button>
                    </form>
                </div>
            </div>
            {{if .message}}
            <div class="row">
                <div class="alert alert-warning mx-3" role="alert">
                    {{.message}}
                </div>
            </div>
            {{end}}

            <div class="row">
                <form action="/bookmarks" method="POST">
                    <input type="text" name="url" placeholder="http://www.exemplo.com.br"
                        class="form-control mx-4 my-2">
                    <input type="text" name="comment" placeholder="Escreva seu comentário...."
                        class="form-control mx-4 my-2">
                    <button type="submit" class="btn btn-outline-success mx-4 my-2">CRIAR</button>
                </form>

            </div>
        </div>
    </div>


    </div>

</body>

</html>