<html>

<head>
    <title>Bookmarks - Recuperar senha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css" media="screen">
        .center {
            background: white;
            margin: auto;
            width: 500px;
            max-width: 80%;
            padding: 10px;
            text-align: center;
            box-shadow: 3px 3px 3px #ccc;
        }

        .login-button {
            width: 50%;
            background-color: #db2f68;
            color: white;
        }
        .login-form {
            padding: 30px;
        }

        .header-bar {
            display: none;
        }
    </style>
</head>

<body>
    <div class="custom-container">
        <div class="center">
            <H3 class="my-3">My Bookmarks</H3>
            <H1 class="my-3">Recuperar senha</H3>
                {{if .message }}
                <div class="alert alert-warning mx-5" role="alert">
                    {{.message}}
                </div>
                {{end}}
            <form class="login-form" action="/forgot-password" method="POST">
                <input class="form-control my-3" type="text" name="email" placeholder="email@servior.com" required />
                <div class="alert alert-info text-left" role="alert">
                    Nós enviaremos as instruções de recuperação de senha para seu e-mail.
                </div>
                <button type="submit" class="btn btn-default login-button my-3">Enviar</button>
            </form>
        </div>
    </div>

</body>

</html>